.todo{
  border: 1px solid black;
  margin-left:25% ;
  margin-right: 25%;
}
h1{
  text-align: center;
}
ol{
  background-color: aqua;
}
input[type=text] {
  margin-left: 30%;
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
}
li{
  padding: 7px;
  font-weight: bold;
  margin-bottom:10px ;
  width:250px;
  border-bottom: 2px dotted black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
.add {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.delete{
  float: right;
  background-color:  #f44336;
  border: none;
  color: white;
  padding: 1px  10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;}